PORT=5000
MONGO_URI=mongodb://localhost:27017/your_db_name
NODE_ENV=development
CLIENT_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret
ADMIN_JWT_EXPIRES_IN=7d
ADMIN_COOKIE_MAX_AGE=604800000
ADMIN_MAX_SESSIONS=1
COOKIE_DOMAIN=